<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @staff.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @staff.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @staff.date_of_birth %>
</p>

<p>
  <strong>Point:</strong>
  <%= @staff.point %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
